html {
    scroll-behavior: smooth;

}
body{
    font-family: 'Open Sans', sans-serif;
}

.intro{
    margin-top: 6vh;
    text-align: center;
}
.intro img{
    margin-top: 5vh;
    height: 50%;
    width: 50%;
}
.intro h1{
    font-weight: bold;
}
.heading{
    text-align: left;
    margin-top: 25vh;
}

.arrow {
    text-align: center;
   
    margin-right: 35vw;
    margin-top: 30vh;
    font-size: 30px;
    color: #00a3af;
   
}
.overview {
    margin-top: 40vh;
    margin-left: 17vw;
}
.myrole,
.conclusion,.process,.overview {
    margin-top: 15vh;
    margin-left: 17vw;
    width: 60%
}
.process {
    margin-top: 20vh;
    margin-left: 17vw;
}
p {
    font-size: 17px;
    margin-top: 3vh;
}
.endimg{
    padding-bottom: 20vh;
}

@media screen and (max-width: 768px) {
   
   .mainimg{
       width: 80%;
       
   }
   
   .heading{
       text-align: center;
       margin-top: 5vh;
   }
 
}